.select-report {
  width: 100%;
  margin: 0;
  padding: 0;
  display: inline-block;
}

header {
  position: block;
  margin: 0;
  height: 20%;
}

header h1 {
  text-align: center;
}

.select-report div {
  height: auto;
  width: 100%;
}

.select-report button {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;

  width: 50%;

  padding-top: 2em;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 2em;
  border: 0;
  background: transparent;
}
/**/
.select-report button img {
  width: 60%;
  margin: auto;
}

.select-report button h3 {
  font-size: 0.8em;
  color: black;
}
